{
    "presets": ["next/babel"],
    "plugins": [
        [
            "inline-react-svg",
            {
                "svgo": {
                    "plugins": [
                        {
                            "name": "cleanupIDs",
                            "active": false
                        }
                    ]
                }
            }
        ],
        ["babel-plugin-styled-components", { "ssr": true }]
    ]
  }